<footer class="footer">
  <div class="container footer__container">
    <a class="logo footer__logo" href="#">
      <img src="./assets/images/logo.png" alt="логотип">
    </a>
    <div class="rights">Все права защищены, 2020</div>
    <a class="instagram" href="{{linkInstagram}}">
      <div class="instagram__img">
        <img src="./assets/images/instagram.png" alt="иконка инстаграм">
      </div>
      <div class="instagram__text">Мы в Instagram</div>
    </a>

    <a href="{{phoneNumber}}" class="tel footer__tel">+375 (29) 368-98-68</a>
  </div>
</footer>
