
<section class="main">
  <div class="container main__container">
    <div class="main__info">
      <h1 class="main__title">
        Мягкие французские пироженки Macaroons
      </h1>
      <div class="main__text">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </div>
      <div class="main__action">
        <button class="btn main__btn" btnStyles [btnStylesDefaultBg] = "'linear-gradient(#d7485c, #71081e)'" (click)="scrollTo(productsElement)">
          Выбрать макарун
        </button>
      </div>
    </div>
    <div class="main__image-wrap">
      <div class="main__image">
        <img class="main__img" src="../assets/images/macaruns.png" alt="фото пирожных">
      </div>
    </div>

  </div>
</section>

<section class="advantages" id="about">
  <div class="container advantages__container">
    <div class="advantages__info-wrap">
      <div class="advantages__info">
        <h2 class="advantages__title">
          Мы печём для вас
          вкуснейшие макаруны
          уже более 10 лет
        </h2>
        <div class="advantages__text">
          Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
          ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей,
          маргарина,
          разрыхлителей и улучшителей муки.
        </div>
      </div>
      <div class="advantages__image">
        <img class="advantages__img" src="../assets/images/cake.png" alt="фото пирожного">
      </div>
    </div>
    <div class="advantages__items">
      <advantage *ngFor="let advantage of advantages; let i = index" [index]="i" [advantage] = "advantage">
        <span>{{i+1}}</span>
      </advantage>
    </div>
  </div>
</section>

<section class="products" id="products" #productsElement>
  <div class="container">
    <h2 class="products__title">
      Выберите свой макарун
    </h2>
    <div class="products__items">
      <product *ngFor="let product of products" [product] = "product" (addToCardEvent)="addToCard($event,orderElement)"></product>
    </div>
  </div>
</section>

<section class="order" id="order" #orderElement>
  <div class="container order__container">
    <div class="order__image">
      <img class="order__img" src="../assets/images/macaron-order.png" alt="фото пирожных">
    </div>
    <div class="order__info">
      <h2 class="order__title">
        Закажите макарун!
      </h2>
      <div class="order__text">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </div>
      <form class="order__form">
        <div class="order__input-title">Ваш выбор</div>
        <div class="input-say-box">
          <input class="order__input"
                 placeholder="Напишите, что хотите заказать..."
                 id="order-say" name="product" [(ngModel)]="formValues.productTitle">
        </div>
        <div class="order__input-title">Заполните данные для заказа</div>
        <div class="input-box">
          <input class="order__input" name="name" type="text" placeholder="Ваше имя" id="name" [(ngModel)]="formValues.name">
        </div>

        <div class="input-box">
          <input class="order__input" type="number" placeholder="+375 (__) ___ - __ - __" id="tel" name="phone" [(ngModel)]="formValues.phone">
        </div>
        <div class="order__action">
          <button type="button" class="btn order__btn" btnStyles (click)="createOrder()">Оформить заказ</button>
        </div>
      </form>
    </div>
    <div class="order__message">
      Спасибо за Ваш заказ.<br> Мы скоро свяжемся с Вами!
    </div>
    <div class="strawberry1">
      <img class="strawberry1__img" src="../assets/images/strawberry.png" alt="клубника">
    </div>
    <div class="strawberry2">
      <img src="../assets/images/strawberry2.png" alt="клубника">
    </div>
  </div>
</section>

