* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Gilroy;
  src: url("./assets/fonts/gilroy-regular.ttf");
}

@font-face {
  font-family: Gilroy;
  src: url("./assets/fonts/gilroy-bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Gilroy;
  src: url("./assets/fonts/gilroy-extrabold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Gilroy;
  src: url("./assets/fonts/gilroy-medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Tavolga;
  src: url("./assets/fonts/tavolga-free.ttf");
}

body {
  font-family: Gilroy, sans-serif;
  background-color: #eba8b1;
}

.container {
  max-width: 1170px;
  box-sizing: border-box;
  padding: 0 15px;
  margin: 0 auto;
}


.tel {
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and  (max-width: 998px) {
  .container {
    padding: 0 20px;
  }
}

@media screen and  (max-width: 568px) {
  .container {
    padding: 0 15px;
  }
}
